<!DOCTYPE html>
<html>
    <head>
        <style>
            body {background-color: #C3ECFF;
                  font-family: 'Raleway', sans-serif;
                 } 
            ul {list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;}
            
            li {float: left;}
            
            li a {display: block;
                  color: white;
                  text-align: center;
                  padding: 1px 16px;
                  text-decoration: none;}
                  
            .t {margin-top: 15px;}
            
            li a:hover {background-color: #BA97FF;}
            
            li img {width: 75px; height: 50px;}
            
        </style>
    </head>
    <body>
        <ul>
                                <li>
                    <a href=https://coding-made-simple.herokuapp.com>
                        <img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" />
                        </a>
                        </li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/interact1>Interactive Part One</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/interact2>Interactive Part Two</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/about>About Us</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/inspire>Inspiration</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/help>Links/Other Resources</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/game>Fizzbuzz</a></li>\
            </ul>
        <div>
            <br><br>
            <center><img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" /></center>
        <center><h1><u> About Us </u></h1></center>
        <h4>Maria Herne: 15 years old: Cofounder</h4>
        <p class=maria>I'm a freshman in highschool, and I'm from Florida. Before my two weeks with Kode with Klossy, I never understood how computers worked. When I tried coding, I was often confused. Then I met my wonderful instructors that explained coding simply with analogies and help. I now can proudly say I helped code this website, which I never thought could happen. Just remember, you don't need to be a rocket scientist to code. I believe anyone can learn how to code!</p>
        <h4>Megan Murphy: 15 years old: Cofounder</h4>
        <p class=megan>I'm a Junior in highschool, and I'm from Florida. I first learned how to code at my school. And with the help of my instructors in Kode with Klossy, I not just learned more about backed development(coding), I also learned frontend development(html webpage development).</p>
        <h4>Christina Carlson: 18 years old: Cofounder</h4>
        <p class=christina>I am a rising college freshman from Jupiter, FL, who has never been a fan of computers. I am always the one person in the room who's computer would break before it would work. That's been one of the motivating factors for me to learn to code. I wanted to be the person who creates something on a website rather than destroys it. Thanks to my two weeks with Kode with Klossy I feel ready to take on the world of computer science and coding. I am already looking into majoring in computer science and really just learn as much as I can.</p>
    </body>
</html>