<!DOCTYPE html>
<html>
    <head>
        <style>
            body {background-color: #C3ECFF;
                font-family: 'Raleway', sans-serif;} 
                
            textarea {border:2px solid #999999;
                      width:50%;
                      margin:5px 0;
                      padding:3px;
                      display: block;
                      margin-left: auto;
                      margin-right: auto;} 
                      
            form {border-style: solid;
                  width:50%;
                  margin-left: auto;
                  margin-right: auto;
                  background-color: white;}
                  
            ul {list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;}
            
            li {float: left;}
            
            li a {display: block;
                  color: white;
                  text-align: center;
                  padding: 1px 16px;
                  text-decoration: none;}
                  
            .t {margin-top: 15px;}
            
            li a:hover {background-color: #BA97FF;}
            
            li img {width: 75px; height: 50px;}
        </style>
    </head>
    <body>
        <ul>
                <li>
                    <a href=http://new-project-christinacarlson213.c9users.io:8080>
                        <img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" />
                        </a>
                        </li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/interact1>Interactive Part One</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/interact2>Interactive Part Two</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/about>About Us</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/inspire>Inspiration</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/help>Links/Other Resources</a></li>
               <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/game>Fizzbuzz</a></li>
            </ul>
        <div>
            <br><br>
            <center><img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" /></center>
       <div class=code_heading></center>
            <center><h2>
                Welcome To Your Second Code!
            </h2> 
            <p>Here is the setup to create a method!</p>
            <p> A method is a set of instructions that runs when you call its name. </p>
            <p> It's like a recipe. To get the ingredients and steps you want, you look for the key word.</p>
        </div></center>
       <center><div class=instructions>
            <h3> <u>Instructions</u></h3>
            <p> Step One: In the first line, type: def</p>
            <p> <i>def is a ruby command that tells the computer we are 
          defining a method</i></p>
          <p> Step Two: In the third line, type: gets.strip</p>
          <p><i> gets.strip allows the user to type a response.</i></p>
          <p> Step Three: In the fifth line, type: gets.strip</p>
          <p><i> Once again, this allows the user to type in a response. </i></p>
        <p> Step Four: In the seventh line, type: end</p>
        <p><i> This tells the computer that we are ending the method.</i></p>
        <p> Step Five: In the eighth line, type: joke</p>
        <p><i> So, we named our method "joke"! Now, in order to print our code,
        we have to type in the name of the method. Then, click 
        submit to see the magic happen!</i></p>
        </div></center>
        <div class=hint_box>
            <center><p>Hint: make sure to use exact spelling and grammar.</p></center>
        </div>
        <center><h1><u>Our Code</u></h1></center>
        <form method="POST" action="/where2" >
         
      <p> Line 1:<input type="text" name="def" /> joke</p>
      <p>Line 2: puts "Knock Knock </p>
      <p>Line 3: whos_there = <input type="text" name="gets" /> </p>
       <p>Line 4: puts "Daisy" </p>
      <p>Line 5: daisy_who = <input type="text" name="gets2" /></p>
       <p>Line 6: puts "Daisy me rollin' they hatin"</p>
       <p>Line 7: <input type="text" name="end" /> </p>
       <p>Line 8: <input type="text" name="joke" /> </p>
           <input type= "submit" />
        </p>
        </form>
        <div>
          <textarea rows="10" columns="5000">
       
           </textarea>
        </div>
    </body>
</html>