<!DOCTYPE html>
<html>
    <head> 
      <style>
          body {background-color: #C3ECFF;
                font-family: 'Raleway', sans-serif;} 
          .headings {list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;}
            
          .headings li {float: left;}
            
          .headings li a {display: block;
                color: white;
                text-align: center;
                padding: 1px 16px;
                text-decoration: none;}
                  
          .t {margin-top: 15px;}
            
          .headings li a:hover {background-color: #BA97FF;}
            
          .headings li img {width: 75px; height: 50px;}
      </style>
    </head>  
  <body>
    <ul class="headings">
                <li>
                    <a href=http://new-project-christinacarlson213.c9users.io:8080>
                        <img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" />
                        </a>
                        </li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/interact1>Interactive Part One</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/interact2>Interactive Part Two</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/about>About Us</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/inspire>Inspiration</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/help>Links/Other Resources</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/game>Fizzbuzz</a></li>
            </ul>
        <div>
            <br><br>
            <center><img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" /></center>
    <center><h1>Links And Other Resources</h1></center>
    <center><p>
      <h4>If you are interested in learning how to code, there are many different resources to help you. Some resources are listed below. 
    </h4>
    <div>
      <img src = "http://bpcwi.com/wp-content/uploads/2017/09/dont-worry-im-from-tech-support-computer-cat-meme.png" alt = "IT cat" />
      <br><br>
        <a href="https://www.kodewithklossy.com/">Kode with Klossy    </a>
        <h5>Keen on learning how to code? We want you! Kode With Klossy Summer Camp is a free (yep, free!) two-week summer program for girls 13 – 18 years old. You’ll be in classes of 20 participants learning to build real-life apps with code. If you’re interested in tech, this is an excellent opportunity to create and meet other young women who are, too.</h5>
        
        <a href="https://girlswhocode.com/?gclid=CjwKCAjwyrvaBRACEiwAcyuzRHGrMpvmay3TjN-rhvQfssh7okVjhgHUGKFfDnTQq0b4_YtJse3eURoCy1YQAvD_BwE">Girls Who Code </a>
        <h5>Women and girls across the country are coming together to correct centuries-long power imbalances across lines of gender, race, sexuality, and more. Girls Who Code is proud to be a part of this movement, and even prouder because our girls – girls of all races and ethnicities and abilities and zip codes – are leading it. They are solving problems in their communities, empowering their friends, and defining the future of our world. We’re thrilled to be giving them the tools they need to get there.</h5>
        <a href="https://www.barnesandnoble.com/w/ruby-for-beginners-icode-academy/1129094828?ean=9781521367704&st=PLA&sid=BNB_DRS_New+Core+Shopping+Books_00000000&2sid=Google_&sourceId=PLGoP211455&gclid=CjwKCAjwyrvaBRACEiwAcyuzRKCXhkWcceFrm2a5FxOjMK4yEnPkzSk2RIiB5b-quPa0R0Ltil9WCBoC9IYQAvD_BwE">Ruby For Beginners: Your Guide To Easily Learn Ruby Programming in 7 days </a>
        <h5>This book aims to guide a complete novice in Ruby programming. This book is carefully crafted to aid the new or inexperienced programmer in learning to write a code in Ruby language. If you are someone who somehow developed a fear to explore the unknown and still interested in learning Ruby programming, then this book can truly help you. </h5>   
    </p></center> 
    </div>
  </body>  
</html>