<head> 
    <style> 
        body {background-color: #C3ECFF;
              font-family: 'Raleway', sans-serif;} 
   
        #videos {text-align: center;}
        
        ul {list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;}
            
        li {float: left;}
            
        li a {display: block;
              color: white;
              text-align: center;
              padding: 1px 16px;
              text-decoration: none;}
                  
        .t {margin-top: 15px;}
            
        li a:hover {background-color: #BA97FF;}
            
        li img {width: 75px; height: 50px;}
    </style>
</head>
<body>
    <ul>
                <li>
                    <a href=https://coding-made-simple.herokuapp.com>
                        <img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" />
                        </a>
                        </li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/interact1>Interactive Part One</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/interact2>Interactive Part Two</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/about>About Us</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/inspire>Inspiration</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/help>Links/Other Resources</a></li>
                <li><a class="t" href=https://coding-made-simple.herokuapp.com/game>Fizzbuzz</a></li>            </ul>
        <div>
            <br><br>
            <center><img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" /></center>
    <div id="videos">
        <h1><u>Here's some inspiration</u></h1>
            <iframe width="80%" height="315" src="https://www.youtube.com/embed/K1tALNL3nbM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p> How Kode With Klossy transformed people's lives with code.</p>
            <iframe width="80%" height="315" src="https://www.youtube.com/embed/zDGDWdvLCrM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p>This is a clip from movie called CODE: Debugging the Gender Gap.</p>
            <iframe width="80%" height="315" src="https://www.youtube.com/embed/dU1xS07N-FA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p> This cute ten minute little film explains what coding is, has testimonials from founders of important companies, and explains how coding transforms lives. </p>
    </div>
</body>