<!DOCTYPE html>
<html>
    <head>
         <style>
            body {background-color: #C3ECFF;
                  font-family: 'Raleway', sans-serif;} 
                  
            textarea {border:2px solid #999999;
                      width:50%;
                      margin:5px 0;
                      padding:3px;
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
            }  
                      
            form {border-style: solid;
                  width:50%;
                  margin-left: auto;
                  margin-right: auto;
                  background-color: white;}
                  
            ul {list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;}
                
            li {float: left;}
            
            li a {display: block;
                  color: white;
                  text-align: center;
                  padding: 1px 16px;
                  text-decoration: none;}
                  
            .t {margin-top: 15px;}
            
            li a:hover {background-color: #BA97FF;}
            
            li img {width: 75px; height: 50px;}
        </style>
    </head>
    <body>
        <ul>
                <li>
                    <a href=http://new-project-christinacarlson213.c9users.io:8080>
                        <img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" />
                        </a>
                        </li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/interact1>Interactive Part One</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/interact2>Interactive Part Two</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/about>About Us</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/inspire>Inspiration</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/help>Links/Other Resources</a></li>
                <li><a class="t" href=http://new-project-christinacarlson213.c9users.io:8080/game>Fizzbuzz</a></li>
            </ul>
        <div>
            <br><br>
            <center><img src="https://lh3.googleusercontent.com/dfqbZ_TshiYjAQaQnpM_Q4hI1_uV_uX8WLy_prkhsqB98oPJ-SrBiN7UQYiyPpZcrQclev_EJY5-kJ6yVQajsQvc_cqcBM9rwcD3XEjzgRsb7wE1bEoRmyRHAvfJPRC5GfCGKzeWqNzvkq265s6gcuHYtpMVHQB6mlWaPNDG6_dMc0BtRmJ9w41mjaKiQ4yRTqkWkPy_58SFSOYOuOppH2llsc_-DNX4a6ozXCkCKmap2HShp7jFsOdYoDQXIPYcRTrnLiGyLpd8g2uGTMqt3z3Y_uukE-Q3q3vGK22ZEIwJ2meQVkLDw9fqpRsC9IoFtv9jZT1NqKoxCkjL5ADCZzp7gGNR389uAR8B5OhxAK7WKyws5oaSnNApFlC2NhfI6rwiircfUQVygh-_Hfg9WbwVeeYBurNBlZgdwIdb-OcmAtfpcHB_15hr9nCOdYiHj9o_HMCO8kz1LHTYEDGA5QXcclvSr2EECtsnZGsgM008embeQgJ0J8YXWz1Lhz4oZcrl7dbfYKPFA2Vz1p_bvJZ6JIMcO5_9lRowchRvtHpdHzScJcJeymig0qm2FucCMeBjnHXxC1euFDDrEwNOOz06ujCYo3m2SChLmB8=w292-h232-no" /></center>
       <center> <div class=code_heading>
            <header>
                Welcome to your first code.
            </header> 
            <p>Here is the setup to print a message: "Hello World!"</p>
        </div></center>
        <center><div class=instructions>
            <h3>Instructions</h3>
            <p>In the box, type: Hello, World!</p>
        </div></center>
        <center><div class=hint_box>
            <p>Hint: make sure to use exact spelling and grammar.</p>
        <center></div>
        <h1><u>Our Code</u></h1>
        <form method="POST" action="/where" >
       <p> puts 
        "<input type="text" name="answer" />"
        <input type= "submit" />
        </p>
        </form>
        <div></center>
           <center><input class="box" type="text" placeholder="ERROR: This is your first error message.
           Something went wrong with your code. Try Again On This Page" size="120"></center>
        </div>
    </body>
</html>